/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: white;
  text-align: center;
}
/* Typing Animation */
.typing::after {
  content: "|";
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* Dark/Light Mode Toggle Button */
#darkToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.light-mode {
  background: white;
  color: black;
}

.light-mode .hero {
  color: white;
}


.light-mode .card {
  background: #f1f5f9;
}

/* About Section */
.about p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.7;
  text-align: justify;
}

.fun-facts {
  list-style: none;
  padding: 0;
  max-width: 700px;
  margin: 15px auto;
  text-align: justify;
}

.fun-facts li {
  margin: 8px 0;
}



/* Section Styles */
section {
  padding: 60px 20px;
}
/* Hero Section */
.hero {
  background: linear-gradient(135deg, #1e293b, #0f172a);
}
/* Headings */
h1 {
  font-size: 40px;
}
/* Card Styles */
.card {
  background: #1e293b;
  margin: 15px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}
/* Social Links */
.social a {
  margin: 0 10px;
  color: #38bdf8;
  text-decoration: none;
}

/* Scroll Reveal Animation */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

